.img-1{
    width: 1300px;
}
.img-2{
    width: 100%;
    height: 250px;
}
.img-3{
    width: 450px;
    height: 250px;
}
.img-4{
    position: relative;
    width: 160px;
    top: 20px;
    left: 100px;
    margin-bottom: 30px;
}
.img-5{
    width: 300px;
    height: 250px;
}
.img-6{
    margin-top: 50px;
    margin-bottom: 10px;
    height: 450px;
}
.img-7{
    margin-bottom: 50px;
}
.img-8{
    width: 550px;
    height:500px;
}
.img-9{
   position: relative;
   margin-top: 30px;
   left: 50px;
}
.img-10{
    width: 500px;
}
.img-11{
    height: 550px;
    margin-top: 75px;
}
.img-12{
    width: 100%;
    height: 340px;
}
.img-13{
    width: 100%;
    height: 340px;
    margin-top: 10px;
}
.img-14{
    width:100%;
    height:340px;
}
.img-15{
    width:100% ;
    height: 340px;
    margin-top:10px;
}
.img-16{
    margin-top: 20px;
}
.img-17{
    margin-top: 20px;
    margin-bottom:20px;
}
.img-19{
    position: relative;
    width: 600px;
    top: 40px;
    right: 195px;  
}
